h1, h2{
    color: rgba(10, 90, 196, 0.678);
}
.red-border{
    border: 10px solid lightcoral;
}
#green-background{
    background-color: rgb(80, 204, 80);
}
nav{
    font-size: small;
}
body{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-image: url("https://i.fbcd.co/products/resized/resized-750-500/bc258fca0a35b78cd8aa5db8b914bb61e23ac7539e7609f10a3890bdfecc893f.jpg")
}
h2{
    font-style: italic;
}
.coupon {
	width: 250px;
	padding: 10px;
	text-align: center;
	border: 10px dashed rgb(71, 70, 70);
}
.center{
    text-align: center;
}
